.header {
    background-color: #25373D;
    font-family: projectFont;
    color: #ccc;
    box-sizing: border-box;
    max-height: 56px;
}
.header-block {
    width: 960px;
    margin: 0 auto;
    max-height: 58px;
    border-bottom: 5px solid #F9BF3B;
    position:relative;
}
.body-page{
	width: 960px;
    margin: 0 auto;
    margin-top:40px;
}
.project-name {
    float: left;
    font-size: 34px;
    padding: 4px 0;
    font-weight: bold;
}
.user{
    float: right;
    padding: 16px 2px;
    cursor:pointer;
}
.user-icon{
	margin-right:6px;
}
.user-name{
	font-size: 17px;
}
.loader {
   border: 16px solid #fefefe;
    border-top: 16px solid #555555;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
}
.posts .loader {
    position: absolute;
    top: 15%;
    left: 17%;
    display: none;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.pop-mask {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    min-height: 100%;
    background: #000;
    opacity: 0.66;
    z-index: 99;
    left: 0;
    display: none;
}
.pop-up{
width: 66%;
    height: 75%;
    position: absolute;
    background: #fff;
    z-index: 100;
    display: none;
}